<div class="klax-spacer-md klax-feed-item">
  <div class="row">
    <div class="col-md-3">
      <p><small><%= change.created_at.strftime("%m-%d-%y at %I:%M") %></small></p>
    </div>
    <div class="col-md-6">
        <p class="lead">
          <%= link_to page_change_path(change) do %>
            <%= change.after.page.name || truncate(change.after.page.url) %> changed
          <% end %>
        </p>
    </div>
    <div class="col-md-3">
        <p><small>
          <%= link_to "Source", change.after.page.url, target: :_blank %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to "Edit", edit_page_path(change.after.page), target: :_blank %>
          &nbsp;&nbsp;&nbsp;
          <%= link_to "Delete Page Forever", delete_page_path(change.after.page), method: :delete, class: "btn btn-default btn-block btn-danger" %>
        </small></p>
    </div>
  </div>
</div>
