<%= render partial:'layouts/bookmarklet' %>

<div class="klax-section klax-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Tracked Projects</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-3">
        <!-- negative space -->
      </div>
      <div class="col-md-3">
        <%= link_to 'Manually add an Item', new_page_path, class: 'btn btn-default btn-sm btn-block' %>
      </div>
    </div>
  </div><!-- /.container -->
</div>

<div class="klax-section klax-spacer-lg">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Added</th>
          <th>Project</th>
          <th>Edit</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
        <tr>
          <td><%= page.created_at.strftime("%m/%d/%y") %></td>
          <td><%= link_to page.name, page.url, class: "btn btn-default btn-block", target: :_blank %></td>
          <td><%= link_to page.domain.truncate(20), edit_page_path(page), class: "btn btn-default btn-block", target: :_blank %></td>
          <td><% if page.page_snapshots.count > 1 %><%= link_to "Diff", latest_change_page_path(page), class: "btn btn-default btn-block" %><% end %></td>
          <td><%= link_to 'Delete', page, method: :delete, class: "btn btn-default btn-block" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
