<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @page.url %>
</p>

<p>
  <strong>Css selector:</strong>
  <%= @page.css_selector %>
</p>

<p>
  <strong>Exclude selector:</strong>
  <%= @page.exclude_selector %>
</p>

<p>
  <strong>User:</strong>
  <%= @page.user_id %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
<div class="klax-section klax-spacer-lg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-9">
        <%= link_to 'Delete Page Forever', @page, method: :delete, data: { confirm: 'Are you sure? This will delete all snapshots and changes associated with this page. There is no undo.' }, class: "btn btn-default btn-block btn-danger" %>
      </div>
    </div>
  </div><!-- /.container -->
</div>
